<div class="clockContainer">
    <!-- Top button group (Reset-Format-Ligt) -->
    <div class="p-field p-grid buttonGroup">
        <button type="button" (click)="onReset()" label="RESET"
            style="font-size: 11px; padding: 0.25rem 1rem; margin: 0.25rem;" pButton>
        </button>

        <button type="button" (click)="onFormat()" label="FORMAT"
            style="font-size: 11px; padding: 0.25rem 1rem; margin: 0.25rem;" pButton>
        </button>

        <button type="button" icon="pi pi-sun" (click)="onLight()"
            style="font-size: 11px; padding: 0.25rem 1rem; margin: 0.25rem;" pButton>
        </button>
    </div>

    <!-- Time with different formats using templates -->
    <div class="p-field p-grid">
        <div *ngIf="format24; then Mode else AMMode"></div>
        <ng-template #AMMode>
            <div [ngClass]="{'day' : ligthMode,'night' : !ligthMode }">
                {{ date | date : 'mediumTime' : timezone}}
            </div>
        </ng-template>

        <ng-template #Mode>
            <div [ngClass]="{'day' : ligthMode,'night' : !ligthMode }">
                {{ date | date : 'HH:mm:ss' : timezone}}
            </div>
        </ng-template>

    </div>

    <!-- Bottom button group (Mode-(+)-Clock name) -->
    <div class="p-field p-grid buttonGroup">
        <button type="button" (click)="onClickMode()" label="MODE"
            style="font-size: 11px; padding: 0.25rem 1rem; margin: 0.25rem;" pButton>
        </button>
        <button type="button" icon="pi pi-plus" [disabled]="!displayOptions" (click)="onAdd()"
            style="font-size: 11px; padding: 0.25rem 1rem; margin: 0.25rem;" pButton>
        </button>
        <div style="font-size: 11px; color: white;">{{name}}</div>
    </div>
</div>